# Base de données PostgreSQL
POSTGRES_HOST=db-main
POSTGRES_PORT=5432
POSTGRES_DB=database
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

# Base de donnees MongoDB (nutrition recommendation)
MONGO_HOST=db-nut-reco
MONGO_PORT=27018
MONGO_DB=healthai_nutrition_recommendation
MONGO_AUTH_DB=admin
MONGO_USER=MONGO_USER
MONGO_PASSWORD=MONGO_PASSWORD

# Backend
NODE_ENV=development
JWT_SECRET=PUT_YOUR_SECRET
JWT_EXPIRES_IN="240h"

# Frontend
VITE_API_BASE_URL=/api
VITE_USE_MOCKS=false

# ETL
PYTHONUNBUFFERED=1
JAVA_HOME=/opt/java/openjdk
PYSPARK_SUBMIT_ARGS="--jars /app/jars/postgresql-42.7.1.jar pyspark-shell"
ETL_API_URL=http://etl:8000
KAGGLE_USERNAME=YOUR_KAGGLE_USERNAME
KAGGLE_API_TOKEN=YOUR_KAGGLE_API_TOKEN