[submodule "backend-main"]
	path = backend-main
	url = https://github.com/MSPR-501-Group-1/backend-main.git
	branch = main
[submodule "frontend-admin-dashboard"]
	path = frontend-admin-dashboard
	url = https://github.com/MSPR-501-Group-1/frontend-admin-dashboard.git
	branch = main
[submodule "data-etl"]
	path = data-etl
	url = https://github.com/MSPR-501-Group-1/data-etl.git
	branch = main
[submodule "database-main"]
	path = database-main
	url = https://github.com/MSPR-501-Group-1/database-main.git
	branch = main
[submodule "database-nutrition-recommendation"]
	path = database-nutrition-recommendation
	url = https://github.com/MSPR-501-Group-1/database-nutrition-recommendation.git
	branch = main
[submodule "frontend-user-social"]
	path = frontend-user-social
	url = https://github.com/MSPR-501-Group-1/frontend-user-social.git
	branch = main
[submodule "frontend-user-coaching"]
	path = frontend-user-coaching
	url = https://github.com/MSPR-501-Group-1/frontend-user-coaching.git
	branch = main
[submodule "ia-workout-recommendation"]
	path = ia-workout-recommendation
	url = https://github.com/MSPR-501-Group-1/ia-workout-recommendation
[submodule "ia-nutrition-recommendation"]
	path = ia-nutrition-recommendation
	url = https://github.com/MSPR-501-Group-1/ia-nutrition-recommendation
